<p id="notice"><%= notice %></p>

<p>
  <strong>Room No:</strong>
  <%= @booking.room.room_no %>
</p>
<p>
  <strong>Booked For Date:</strong>
  <%= @booking.b_date %>
</p>
<p>
  <strong>Booking Done For:</strong>
  <%= @booking.user.full_name %>
</p>
<p>
  <strong>From time:</strong>
  <%= @booking.from_time %>
</p>

<p>
  <strong>To time:</strong>
  <%= @booking.to_time %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
