<h1>Sign Up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user do |f| %>

        <div class="field">
          <%= f.label :full_name %>
          <%= f.text_field :full_name, class: 'form-control' %><br>
        </div>

        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %><br>
        </div>


        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %><br>
        </div>

        <%= f.label :password_confirm, 'Confirmation' %>
        <%= f.password_field :password_confirm, class: 'form-control' %><br>

        <div class="actions">
          <%= f.submit 'Create New Account' %>
        </div>
    <% end %>
  </div>
</div>